body {
  margin: 0;
  padding: 0;
}

// CSS shild against PF 3
[class^="pf-"],
[class^="pf-"]::before,
[class^="pf-"]::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: transparent;
  text-rendering: optimizeLegibility;
}

// VERTICAL NAV

// // pf-c-block__element--modifier--state--PropiertyCamel

.pf-c-vertical-nav {
  width: 15rem;

  &__content {
    padding-left: 0;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;

      &:hover,
      &:focus {
        background-color: rgba(0,0,0,.05); //$pf-vertical-sub-nav-link-hover-bg-color;
      }

    &-icon {
      // placeholderfor an icon
      margin-right: 1rem;
    }

    &.pf-is-active {
      position: relative;
      color: blue;
      background: rgba(0,0,0,.05);
    }

    &.pf-is-disabled {
      color: grey;
    }
  }
}

// Sub menu
//
.pf-vertical-sub-nav {
  // display: none;
}

.pf-vertical-sub-nav {
  @media (min-width: 50rem) {
    position: absolute;
    top: 0;
    right: -15rem;// -$pf-vertical-sub-nav-width;
    width: 15rem;// $pf-vertical-sub-nav-width;
    padding: 1rem;// $pf-vertical-sub-nav-padding;
    background: rgba(0,0,0,.05);;
  }
}

.pf-vertical-sub-nav__title {
  display: none;
  @media (min-width: 50rem) {
    display: block;
  }
}

.pf-vertical-sub-nav__content {
  padding-left: 0;
  list-style: none;
}

.pf-vertical-sub-nav__item {}

.pf-vertical-sub-nav__link {
  display: block;
  padding: 1rem;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: rgba(0,0,0,.05); //$pf-vertical-sub-nav-link-hover-bg-color;
  }

  @media (min-width: 50rem) {
    &.pf-is-active {
      background-color: rgba(0,0,0,.05);
    }
  }
}


.sr-only {
  font-size: .8rem;
}


// toast

.pf-c-toast {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid black;
}

.pf-c-toast__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  padding: 1rem;
  color: #fff;
  background-color: lightgray;
}
.pf-c-toast__icon--success {
  background-color: green;
}
.pf-c-toast__icon--warning {
  background-color: orange;
}
.pf-c-toast__icon--danger {
  background-color: red;
}

.pf-c-toast__message {
  flex-grow: 1;
  padding: 1rem;
}

.pf-c-toast__action {
  padding: 1rem;
}

.pf-c-toast__close {
  padding: 1rem;
}

