body {
  margin: 0;
  padding: 0;
}

// CSS shild against PF 3
[class^="pf-"],
[class^="pf-"]::before,
[class^="pf-"]::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: transparent;
  text-rendering: optimizeLegibility;
}

.flexContainer {
  display: flex;
}
.flexSpaceAround {
    justify-content: space-around;
}
.col {
    width: 44%;
    border: 1px solid #777777;
    border-radius: 8px;
    background: white;
    padding: 20px;
}

// VERTICAL NAV

// // pf-c-block__element--modifier--state--PropiertyCamel

.pf-c-vertical-nav {
  @media (min-width: 50rem) {
    width: 15rem;
  }

  &__content {
    padding-left: 0;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.05); //$pf-vertical-sub-nav-link-hover-bg-color;

    }

    &-icon {
      // placeholderfor an icon
      margin-right: 1rem;
    }

    &.pf-is-active {
      position: relative;
      color: blue;
      background: rgba(0, 0, 0, 0.05);
    }

    &.pf-is-disabled {
      color: grey;
      pointer-events: none;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

// Sub menu
.pf-vertical-sub-nav {
  display: none;

  // base submenu display on combination of presentation class and aria attribute being set correctly
  // this prevents scenario where menu displays for sighted users, but not for screen reader
  // (a.k.a "The contract")
  &.pf-is-open:not([hidden]) {
    display: block;
  }
}

.pf-vertical-sub-nav {
  @media (min-width: 50rem) {
    position: absolute;
    top: 0;
    right: -15rem; // -$pf-vertical-sub-nav-width;
    width: 15rem; // $pf-vertical-sub-nav-width;
    padding: 1rem; // $pf-vertical-sub-nav-padding;
    background: #f7f7f7;
  }
}

.pf-vertical-sub-nav__title {
  display: none;

  @media (min-width: 50rem) {
    display: block;
  }
}

.pf-vertical-sub-nav__content {
  padding-left: 0;
  list-style: none;
}

.pf-vertical-sub-nav__item {}

.pf-vertical-sub-nav__link {
  display: block;
  padding: 1rem;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.05); //$pf-vertical-sub-nav-link-hover-bg-color;

  }

  &.pf-is-disabled {
    color: grey;
    pointer-events: none;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  @media (min-width: 50rem) {
    &.pf-is-active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

// toast

.pf-c-toast {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid black;
  margin: 1rem;

  &__icon {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    min-width: 4rem;
    padding: 1rem;
    color: #fff;
    background-color: lightgray;
  }

  &.pf-is-success {
    background-color: green;
  }

  &.pf-is-warning {
    background-color: orange;
  }

  &.pf-is-danger {
    background-color: red;
  }

  &__message {
    flex-grow: 1;
    padding: 1rem;
  }

  &__action {
    padding: 1rem;
  }
}

// btn
.pf-c-btn {
  padding: 0rem 1rem;
  background-color: white;
}

// drop menu
.pf-c-dropdown {
  position: relative;
  display: inline-block;

  &__trigger {
  }

  &__menu {
    background: brown;
    position: absolute;
    left: 0;
    width: 12rem;
    display: none;
    background-color: white;
    border: 1px solid grey;
  }

  &__link {
    display: block;
    padding: .5rem;;
  }

  &.pf-is-expanded .pf-c-dropdown__menu {
    display: block;
  }

  &.pf-to-right .pf-c-dropdown__menu {
    right: 0;
    left: auto;
  }
}
